<form method="post" action="{{ path('app_rujukan_delete', {'id': rujukan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rujukan.id) }}">
    <button class="btn">Delete</button>
</form>
