<form method="post" action="{{ path('app_rekod_baik') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('Baik') }}">
    <button class="icon-box btn text-white"><i class="bi bi-emoji-neutral"></i><br>Baik</button>
</form>