<form method="post" action="{{ path('app_rekod_cemerlang') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('Cemerlang') }}">
    <button class="icon-box btn text-white"><i class="bi bi-emoji-smile"></i><br>Cemerlang</button>
</form>