<form method="post" action="{{ path('app_rekod_tidak') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('Tidak') }}">
    <button class="icon-box btn text-white"><i class="bi bi-emoji-angry"></i><br>Tidak Bagus</button>
</form>