{% extends 'base.html.twig' %}

{% block title %}Edit Rekod{% endblock %}

{% block body %}
    <h1>Edit Rekod</h1>

    {{ include('rekod/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rekod_index') }}">back to list</a>

    {{ include('rekod/_delete_form.html.twig') }}
{% endblock %}
