{% extends 'base.html.twig' %}

{% block title %}New Rekod{% endblock %}

{% block body %}
    <h1>Create new Rekod</h1>

    {{ include('rekod/_form.html.twig') }}

    <a href="{{ path('app_rekod_index') }}">back to list</a>
{% endblock %}
